footer {
  text-align: right;
}
/* Media Queries (Medium Devices) */
@media screen and (max-width: 1024px) {
  footer {
    text-align: center;
  }
}
/* Media Queries (Small Devices) */
@media screen and (max-width: 600px) {
  footer {
    text-align: center;
  }
}
